.wrapper {
  background-color: rgb(178, 173, 231);
  display: flex;
  /* justify-items: center;
  align-items: center; */
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-size: 25px;
}

.add-line {
  margin: 20px;
  width: 75%;
}

.search-line {
  margin: 20px;
  width: 75%;
}

.add-input {
  width: 50%;
}

.search-input {
  width: 50%;
}

.header {
  background-color: rgb(88, 51, 97);
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
